<%- include('partials/head') %> 
<%- include('partials/navbar') %>

<h1>The Home Page</h1>

<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis magni
  sit laboriosam quod. Deserunt vero veniam eligendi tenetur ducimus facilis
  dignissimos omnis laboriosam quo ipsa suscipit animi cupiditate, quia
  explicabo.
</p>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quae illo qui,
  dicta tenetur eius a ratione in repellat nemo at labore eum incidunt sapiente
  unde rerum dolor iure et!
</p>
<%- include('partials/footer') %>
